<%= render :partial => "common_partial/header", :locals => {:title => "", :sub_title => "#{@ask.left_ask_deal.title.truncate(18)} vs #{@ask.right_ask_deal.title.truncate(18)}", :sub_icon => ""} %>

<div class="chat_bubble table_div">
  <div class="table_div" style="line-height:30px; margin-bottom:0;">
    <b style="color:#f18b33;">#둘중에뭐사지? #혼자고민하지마</b>
    <b class="animated swing" style="float:right;">Let's VASKIT!</b>
  </div>
</div>

<div id="ask_detail" class="table_div" style="margin:15px 0; display:none;"></div>
<div id="asks" class="table_div"></div>
<%= render :partial => "common_partial/asks" %>
<%= render :partial => "common_partial/ask_image" %>
<%= render :partial => "common_partial/report_popup" %>

<script>
  !(function ask_load(){
    var ask = asks[0];
    is_show_opened = true;
    show_detail_vote_count(ask.id);
    $("#ask_deal_"+ask.id+"_table").html(askDealTableTemplate({ask: ask}));
    tooltip_box(ask.id);
    $("#ask_"+ask.id+"_message_more").click();
    $("#ask_"+ask.id+"_comment").html(askCommentTemplate({ask: ask}));
    for (i=0; i<ask.comments.length; i++) {
      var comment = ask.comments[i];
      link_tagging(comment.content, $('#comment_content_'+comment.id+' .comment_content'), true);
    };
    comment_input_setting(ask.id, ask.user);
    $("#ask_"+ask.id+"_detail_btn").html(askDetailBtnTemplate({ask: ask, is_card_opened: true}));
    $("#ask_"+ask.id+"_detail_off").attr("onclick","header_back_button(); return false;");
    $("#detail_vote_count_"+ask.id+", #ask_deal_"+ask.id+"_table, #ask_"+ask.id+"_comment").show();
  })();
</script>
