<div style="padding:10px;">
  <div style="margin-bottom:30px;">
    <h2 style="margin:10px 0; padding:0 5px;"><i class="fa fa-check"></i> 이메일 공지사항</h2>
    <input id="notice_title" type="text" name="point" placeholder="제목을 입력하세요" />
    <textarea id="notice_message" rows="5" placeholder="내용을 입력하세요"></textarea>
    <a href="#" onclick="create_notice(); return false;" style="display:block; background-color:#4b3d3d; color:#fff; font-size:14px; margin:10px 0; height:50px; line-height:50px; text-align:center;">전송</a>
  </div>
  <div>
    <p style="margin:30px 0 10px; padding:0 5px;"><i class="fa fa-info-circle"></i> 공지사항 전송 리스트</p>
    <table border="1" cellspacing="1" cellpadding="2" style="width:100%; font-size:12px; text-align:center;">
      <thead>
        <tr style="height:40px; background-color:#998674; color:#fff;">
          <th>제목</th>
          <th>내용</th>
          <th style="width:120px;">전송일</th>
        </tr>
      </thead>
      <tbody>
        <% @notices.each do |notice| %>
          <tr>
            <td><%=notice.title%></td>
            <td><%=notice.message%></td>
            <td><%=notice.created_at.to_date.to_s(:korean_date)%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<style>
  #notice_title {
    display:block;
    width:100%;
    height:40px;
    line-height:40px;
    padding:0 10px;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    border:1px solid #dbdbdb;
    color:#666;
    font-size:14px;
    -webkit-appearance:none;
    border-radius:0;
  }
  #notice_message {
    display:block;
    width:100%;
    margin-top:10px;
    padding:10px;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    border:1px solid #dbdbdb;
    color:#666;
    font-size:14px;
    -webkit-appearance:none;
    border-radius:0;
  }
</style>

<script>
  alert('레이아웃이 준비되기 전까지\n해당 페이지를 통한\n이메일 공지사항 전송을\n최대한 자제해주세요');

	function create_notice() {
		var notice_title = $("#notice_title").val();
		var notice_message = $("#notice_message").val();
		if (notice_title == ""){
			alert("제목을 입력해주세요");
		} else if (notice_message == ""){
			alert("내용을 입력해주세요");
		} else if (confirm("아직 레이아웃이 준비되지 않았습니다\n정말로 모든 회원에게 메일을 전송할까요?")) {
      $.ajax({
        url: "/admin/create_notice.json",
        type: 'POST',
        data: {'title': notice_title , 'message': notice_message},
        dataType: 'json',
        error: function(){
          return false;
        },
        success: function(data){
          location.reload();
        },
        beforeSend: function(){
          $(".loading").show();
        },
        complete: function(){
          $(".loading").hide();
        }
      });
    }
	}
</script>
