<%= render :partial => "common_partial/header", :locals => {:title => "No Result!", :sub_title => "VASKIT, 좀 더 노력하겠습니다!", :sub_icon => ""}  %>

<div style="position:relative; background-color:#f4f4f4;">
	<div style="position:relative; margin:20% auto;">
		<i class="fa fa-frown-o animated shake" style="display:block; padding:30px; color:#9d9ea1; font-size:150px;"></i>
		<div style="position:relative; display:inline-block; margin:0; margin-bottom:20px; padding:15px 30px; color:#4b3d3d; font-size:15px; font-weight:bold; background-color:#ffe4a9; border-width:1px 3px 3px 1px; border-style:solid; border-color:#ffcc5a; border-radius:0 3px 0 3px;">
			크흐! 애석하게도<br>
			조건에 맞는 결과가 없군요
		</div>
	</div>
</div>
