<div id="app_popup_bg" ontouchmove="return false;" onclick="back_button(); return false;" style="position:fixed;left:-100%; top:-100%; width:300%; height:300%; background-color:rgba(0,0,0,0.8); z-index:12; display:none;"></div>
<div id="app_popup" ontouchmove="return false;" style="width:240px; z-index:13; position:fixed; left:50%; top:50%; margin-left:-120px; margin-top:-165px; text-align:center; background-color:#f4f4f4; border:1px solid #f18b33; border-width:2px 5px 5px 2px; border-radius:8px; display:none;">
	<a href="#" onclick="back_button(); return false;" style="position:absolute; right:0; top:-40px; width:40px; height:40px;"><span style="display:inline-block; color:#fff; font-size:35px;">&times;</span></a>
	<a style="display:block;" href="#" onclick="go_url('market://details?id=com.vaskit.msh.vaskit'); hide_app_popup(); return false;">
    <img src="/images/promotion/app_welcome.jpeg" alt="">
		<div style="font-size:15px; color:#4b3d3d; font-weight:bold; line-height:15px;">VASKIT을 앱으로 즐겨보세요&nbsp;<i class="fa fa-smile-o"></i></div>
		<img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" style="width:100%; height:auto;">
	</a>
</div>
<div id="app_banner" class="animated slideInRight" style="position:fixed; top:120px; right:50%; z-index:-1; transition:margin 1s, right 1s;">
	<div id="app_banner_btn" style="position:absolute; width:130px; background-color:#fff; font-size:15px; padding:10px 5px 10px 15px; border-radius:50px 0 0 50px; transition:right 1s, border .2s, top .25s;">
		<a href='https://play.google.com/store/apps/details?id=com.vaskit.msh.vaskit&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank" style="color:#fff;">
			<img src="/images/promotion/app_playstore.png" alt="" style="width:120px; margin:0 auto;">
		</a>
	</div>
	<div class="app_banner_text" style="position:relative; top:65px; text-align:right; color:#666; font-size:13px; font-weight:bold; transition:right 1s;">안드로이드 앱 출시!</div>
	<div class="app_banner_text" style="position:relative; top:68px; text-align:right; color:#9d9ea1; font-size:12px; transition:right 1s;">아이폰 앱은 11월 출시 예정입니다</div>
</div>

<script>
  function show_app_popup() {
		if (isAndroid && !isAndroidApp && !$.cookie('app_promo')) {
			history.pushState(null, null, null);
			is_app_popup_opened = true;

			$("#app_popup").show().animateCss("bounceInDown");
			$("#app_popup_bg").show().animateCss("bounceInDown");
			disableScroll();
		}
  };

  function hide_app_popup() {
    is_app_popup_opened = false;

    $("#app_popup").animateCssHide("bounceOutUp");
    $("#app_popup_bg").animateCssHide("bounceOutUp");
    enableScroll();

		$.cookie('app_promo', true, { expires : 1, path : '/' });
  };

	function show_app_banner() {
		if (!isPC) {
			$("#app_banner").remove();
		}
	}

	$(document).ready(function(){
		show_app_popup();
		show_app_banner();
	});
</script>
