<div id="header_dummy" style="position:relative; width:inherit; height:55px; margin:0; color:#4b3d3d; font-size:15px; font-weight:bold; line-height:80px;">Let's VASKIT! <i class="fa fa-heart" style="color:#ea065e;"></i></div>
<table id="main_header" cellspacing="0" cellpadding="0" ontouchmove="return false;">
	<tr>
		<td style="width:60px;">
			<a id="category_button" class="header_button" href="#" onclick="category_on(); return false;" style="display:block; width:50px; height:50px; padding-left:10px;">
				<i id="category_icon" class="fa fa-navicon" style="font-size:26px; line-height:50px; transition:transform .25s;"></i>
			</a>
		</td>
		<td style="padding-right:10px;">
			<a href="#" onclick="go_main(); return false;" style="display:inline-block; margin-top:4px; padding:5px;">
				<img id="vaskit_logo" src="/images/logo/header_logo.png" style="width:auto; height:30px;"/>
				<span style="position:absolute; top:27px; left:50%; margin-left:70px; color:#ffcc5a; font-size:11px; font-weight:bold;">BETA</span>
			</a>
		</td>
		<td style="width:60px;">
			<div id="my_button">
				<% if current_user %>
					<a class="header_button" href="#" onclick="user_on(); return false;" style="display:block; width:50px; height:50px; padding-right:10px;">
						<i id="my_icon" class="fa fa-user-circle-o" style="font-size:26px; line-height:50px; transition:transform .25s;"></i>
						<span id="new_alram_icon" style="position:absolute; top:9px; right:10px; width:10px; height:10px; line-height:10px; text-align:center; background-color:#ee6e01; border-radius:10px; font-size:10px; font-weight:bold; color:#fff; padding:3px 2px 1px; transition:transform .5s; transform:scale(0); -webkit-transform:scale(0);"></span>
					</a>
				<% else %>
					<a class="header_button" href="#" onclick="go_url('/landing'); return false;" style="display:block; box-sizing:border-box; width:60px; height:50px; padding-right:10px;">
						<i class="fa fa-sign-in" style="font-size:28px; padding-top:12px;"></i>
					</a>
				<% end %>
			</div>
		</td>
	</tr>
</table>
<% unless title.blank? %>
	<div id="wrap_dummy" style="position:absolute; top:0; width:inherit; height:55px; background-color:#ffcc5a; color:#4b3d3d; font-size:15px; font-weight:bold; line-height:80px;">Let's VASKIT! <i class="fa fa-heart" style="color:#ea065e;"></i></div>
	<div id="wrap_dummy_back" style="position:fixed; top:0; width:inherit; height:50%; background-color:#ffcc5a; z-index:-1; display:none;"></div>
	<p id="sub_header" style="position:relative; width:inherit; box-sizing:border-box; height:45px; line-height:40px; margin:0; padding:0px 20px 0px 25px; font-size:16px; font-weight:bold; color:#4b3d3d; background-color:#ffcc5a; background: linear-gradient(180deg, #ffcc5a 0%, #ffd77d 65%, #ffe4a9 100%); text-align:right; border-bottom:5px solid #ffe4a9; border-radius:0 0 5px 5px; overflow:hidden; z-index:7;">
		<span style="float:left; margin-right:5px;">
			<i class="fa fa-caret-right"></i>&nbsp;<%= title %>
		</span>
		<% unless sub_title.blank? %>
			<span style="font-size:12px; color:#fff; word-break:break-all;">
				<%= sub_title %>
				<% unless sub_icon.blank? %>
					<i class="fa <%= sub_icon %>"></i>
				<% end %>
			</span>
		<% end %>
	</p>
<% end %>
<div id="menu_bg" onclick="back_button(); return false;" ontouchmove="return false;"></div>
<div id="menu_bg_full" onclick="back_button(); return false;" ontouchmove="return false;"></div>
<%= render :partial => "common_partial/user" %>

<script>
	function main_header_button() {
		if ( window.location.pathname == "/" && window.location.search == "" ) {
			// $("#category_button").show();
			// $("#back_button").hide();
			$("#category_icon").removeClass("fa-rotate-180");
			$("#category_button").attr("onclick", "category_on(); return false;");
			setTimeout(function(){
				$("#category_icon").addClass("fa-navicon").removeClass("fa-angle-right").css({"fontSize":"26px"});
			},100);
		} else {
			$("#category_icon").addClass("fa-rotate-180");
			$("#category_button").attr("onclick", "header_back_button(); return false;");
			setTimeout(function(){
				$("#category_icon").removeClass("fa-navicon").addClass("fa-angle-right").css({"fontSize":"40px"});
			},100);
			// $("#category_button").hide();
			// $("#back_button").show();
		};
		$("#my_button").show();
	}
	main_header_button();

	// AJS추가 : 유저 알림 정보 불러오기
	var alram_count;
	var last_alram_count;
	<% if current_user %>
		function alram_check() {
		  $.ajax({
		    url: "/users/alram_check.json",
		    type: "GET",
		    data: {},
		    dataType: 'json',
		    error: function(){
		      return false;
		    },
		    success: function(data){
					alram_count = data.alram_count;
					alram_count > 0 ? $("#new_alram_icon").css("transform","scale(1)").text(alram_count).animateCss("swing") : $("#new_alram_icon").css("transform","scale(0)").text(alram_count);
					if (last_alram_count != null && alram_count > last_alram_count && !is_user_opened && !$.cookie('gcm_key')) { notify('새로운 알림이 도착했습니다!', "user_on();"); }
		    },
		    beforeSend: function(){
		    },
		    complete: function(){
					last_alram_count = alram_count;
				}
		  });
		}
		alram_check();
		var alram_check_start = setInterval("alram_check()", 60000);
	<% end %>

	function go_main() {
		if (window.location.pathname == "/" && $(window).scrollTop() != 0) {
			$('html, body').scrollTop(1200).animate({scrollTop:'0'},300);
			window.location.search == "" ? notify('새로고침 하시려면 로고를 한 번 더 누르세요!', "go_url('/');") : notify('메인으로 가시려면 로고를 한 번 더 누르세요!', "go_url('/');");
		} else if (is_card_opened) {
			back_button();
		} else {
			go_url('/');
		}
	}

</script>
