<div id="report_popup" ontouchmove="return false;" style="width:240px; z-index:13; position:fixed; left:50%; top:50%; margin-left:-120px; margin-top:-200px; overflow:hidden; border:1px solid #dbdbdb; border-width:0 3px 3px 0; border-radius:8px; display:none;">
	<a href="#" onclick="back_button(); return false;" style="position:absolute; right:0; top:0; width:40px; height:40px;"><span style="display:inline-block; color:#fff; font-size:28px; padding-top:5px;">&times;</span></a>
	<p id="more_title" style="background-color:#4b3d3d; font-size:15px; color:#fff; height:40px; line-height:42px; margin:0;">신고하기</p>
	<div id="report_popup_report" style="text-align:left;">
		<a id="report_btn_1" href="#"  onclick="set_report_type(1); return false;" style="display:block; background:#f4f4f4; line-height:50px; border-bottom:1px solid #dbdbdb; color:#666; font-size:13px; padding-left:12px;">
			<i class="fa fa-square" style="font-size: 14px; color: #fff; text-shadow: 1px 1px 0 #dbdbdb;"></i> 구매결정과는 무관한 내용이군요
		</a>
		<a id="report_btn_2" href="#" onclick="set_report_type(2); return false;" style="display:block; background:#f4f4f4; line-height:50px; border-bottom:1px solid #dbdbdb; color:#666; font-size:13px; padding-left:12px;">
			<i class="fa fa-square" style="font-size: 14px; color: #fff; text-shadow: 1px 1px 0 #dbdbdb;"></i> 광고성, 홍보성이 짙은 내용이군요
		</a>
		<a id="report_btn_3" href="#"  onclick="set_report_type(3); return false;" style="display:block; background:#f4f4f4; line-height:50px; color:#666; border-bottom:1px solid #dbdbdb; font-size:13px; padding-left:12px;">
			<i class="fa fa-square" style="font-size: 14px; color: #fff; text-shadow: 1px 1px 0 #dbdbdb;"></i> 비윤리적인 내용은 보고싶지 않아요
		</a>
 		<div onclick="set_report_type(4); return false;" style="background:#f4f4f4; line-height:20px; padding:12px 12px 8px 12px;">
			<a id="report_btn_4" href="#" onclick="return false;" style="display:block; color:#666; font-size:13px; margin-bottom:5px;">
				<i class="fa fa-square" style="font-size: 14px; color: #fff; text-shadow: 1px 1px 0 #dbdbdb;"></i> 직접 입력하겠어요
			</a>
			<textarea placeholder="선택 후 입력 가능합니다" class="ask_message_input" name="ask[report]" id="ask_report_message" style="padding-left:10px; border-radius:0px; background-color:#fff; font-size:12px;"></textarea>
		</div>
		<a id="report_submit_btn" href="#" style="display:block; background:#fff; line-height:40px; color:#383838; border-top:1px solid #dbdbdb; text-align:center; font-size:13px;">
			<i class="fa fa-cab" style="color:#ee6e01;"></i> 신고
		</a>
	</div>
</div>

<script>
	var report_type;

	function show_report_popup(target, target_id) {
		<% if current_user %>
			history.pushState(null, null, null);
			is_report_popup_opened = true;
			overlay_st = $(window).scrollTop();

			disableScroll();
			$("#report_popup").show().animateCss("bounceInUp");
			$("#menu_bg_full").show();

			if (target == "ask") hide_menu(target_id);

			$("#report_submit_btn").attr("onclick", "submit_report('"+target+"',"+target_id+"); return false;");
		<% else %>
			visitor_notify("신고접수는 회원만 가능합니다");
		<% end %>
	}

	function hide_report_popup() {
		is_report_popup_opened = false;
    window.scrollTo(0,overlay_st);

		enableScroll();
		$("#report_popup").fadeOut();
		$("#menu_bg_full").fadeOut();
		report_type_reset();
	}

	function set_report_type(report_type_id){
		if(report_type_id != 4){
			$("#ask_report_message").val("");
			$('#ask_report_message').prop('disabled',true);
		} else {
			$('#ask_report_message').prop('disabled',false).focus().select();
		}
		report_type_reset();
		report_type = report_type_id;
		$("#report_btn_"+report_type_id+" i").removeClass("fa-square").addClass("fa-check-square").css("color","#ee6e01","text-shadow","1px 1px 0 rgba(238,110,1,0.3)");
	}

	function report_type_reset(){
		report_type = null;
		$("#report_btn_1 i").removeClass("fa-check-square").addClass("fa-square").css("color","#fff","text-shadow","1px 1px 0 #dbdbdb");
		$("#report_btn_2 i").removeClass("fa-check-square").addClass("fa-square").css("color","#fff","text-shadow","1px 1px 0 #dbdbdb");
		$("#report_btn_3 i").removeClass("fa-check-square").addClass("fa-square").css("color","#fff","text-shadow","1px 1px 0 #dbdbdb");
		$("#report_btn_4 i").removeClass("fa-check-square").addClass("fa-square").css("color","#fff","text-shadow","1px 1px 0 #dbdbdb");
	}

	function submit_report(target, target_id){
		var report_message = $("#ask_report_message").val();
		if (report_type == null){
			notify("신고 항목을 선택해주세요");
			return;
		}else if(report_type == 4 && report_message == ""){
			notify("신고하실 내용을 입력해주세요");
			$("#ask_report_message").focus();
			return;
		}
		$.ajax({
	        url: "/reports.json",
	        type: 'POST',
	        data: {'target': target, 'target_id':target_id, 'report_type':report_type, 'message':$("#ask_report_message").val() },
	        dataType: 'json',
					error: function(){
	          notify('<i class="fa fa-exclamation-triangle"></i> 네트워크 오류');
	        },
	        success: function(data){
	        	if (data.already_report){
	        		notify("이미 신고하신 항목입니다");
	        	} else {
	        		notify("신고가 정상적으로 접수되었습니다. 감사합니다!");
	        	}
						hide_report_popup();
	        },
	        beforeSend: function(){
						progressStart();
	        },
	        complete: function(){
						progressEnd();
	        }
		});
	}

</script>
