<div id="search_dummy" style="height:45px;"></div>
<div id="search">
	<div class="search_bar_area">
		<table cellspacing="0" cellpadding="0" style="width:100%;">
			<tr>
				<td onclick="search_input_on(); return false;" style="width:100%; position:relative;">
					<p class="search_bar">
						궁금한 제품을 검색해보세요!
						<span class="search_btn"><i class="fa fa-search" style="display:inline-block; line-height:34px;"></i></span>
					</p>
				</td>
			</tr>
		</table>
	</div>
</div>
<div id="search_overlay">
	<div class="search_bar_area">
		<table cellspacing="0" cellpadding="0" style="width:100%;">
			<tbody>
				<tr>
					<td style="width:100%; position:relative;">
						<input id="search_input" class="search_bar search_on" placeholder="검색어를 입력하세요" type="text"/>
						<a href="#" onclick="back_button(); return false;" style="position:absolute; top:0; left:0;"><i class="fa fa-angle-left" style="color:#ee6e01; padding:5px 12px; font-size:26px;"></i></a>
						<a class="search_btn search_on" href="#" onclick="search_by_key(); return false;"><i class="fa fa-search" style="display:inline-block; line-height:34px;"></i></a>
						<a id="keyword_reset_btn" href="#" onclick="keyword_reset(); return false;" style="position:absolute; right:35px; top:1px; display:none;"><i class="fa fa-times-circle" style="color:#9d9ea1; font-size:15px; padding:10px;"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="search_result" style="position:relative; top:-5px; border-top:5px solid #ffe4a9; border-bottom:0px solid #ffe4a9; width:100%; max-height:340px; background:#fff; text-align:left; overflow-y:auto; -webkit-overflow-scrolling:touch; transition:border .2s;" ontouchmove="if ($(this).height() < 340) return false;"></div>
</div>

<script type="text/template" id="search-result-template">
		{{ if(type == "hash_tag"){ }}
			<a href="#" onclick="go_url('/?keyword={{=keyword}}&type={{=type}}'); return false;" style="display:block; border-bottom:1px solid #f4f4f4; margin:0; padding:8px 8px 8px 12px; color:#666;">
				<i class="fa fa-hashtag"></i>&nbsp;{{= keyword }}
			</a>
		{{ }else if(type == "ask_deal"){ }}
			<a href="#" onclick="go_url('/?keyword={{=keyword}}&type={{=type}}'); return false;" style="display:block; border-bottom:1px solid #f4f4f4; margin:0; padding:8px 8px 8px 12px; color:#666;">
				<i class="fa fa-cube"></i>&nbsp;{{= keyword }}
			</a>
		{{ }else if(type == "brand"){ }}
			<a href="#" onclick="go_url('/?keyword={{=keyword}}&type={{=type}}'); return false;" style="display:block; border-bottom:1px solid #f4f4f4; margin:0; padding:8px 8px 8px 12px; color:#666;">
				<i class="fa fa-tag"></i>&nbsp;{{= keyword }}
			</a>
		{{ }else if(type == "user"){ }}
			<a href="#" onclick="go_url('/?keyword={{=keyword}}&type={{=type}}'); return false;" style="display:block; border-bottom:1px solid #f4f4f4; margin:0; padding:8px 8px 8px 12px; color:#666;">
				<i class="fa fa-user"></i>&nbsp;{{= keyword }}
			</a>
		{{ } }}
</script>

<script>
	$(".search_bar").hover(function(){
	  $("#search").find(".search_bar").css("border-color","#ee6e01");
	  $("#search").find(".search_btn").css("background-color","rgba(238,110,1,0.8)");
	},function(){
	  $("#search").find(".search_bar").css("border-color","#998674");
	  $("#search").find(".search_btn").css("background-color","#998674");
	});

	function search_input_on(){
		history.pushState(null, null, null);

		is_search_input_opened = true;
		overlay_st = $(window).scrollTop();

		disableScroll();
		$("#search").hide();
		$("#search_overlay").show();
		$("#menu_bg").show();

		$('#search_input').focus().select();
		keyword_reset();
	}

	function search_input_off(){
		is_search_input_opened = false;
    window.scrollTo(0,overlay_st);

		enableScroll();
		$("#search").show();
		$("#search_overlay").hide();
		$("#menu_bg").hide();
	}

	function keyword_reset(){
		$('#search_input').val("");
		$('#search_result').html("").css("border-bottom-width","0px");
		$("#keyword_reset_btn").hide();
		select_num = -1;
		$('#search_input').focus().select();
	}

	function search_by_key(){
		var search_key = $('#search_input').val();
		if(search_key == "" || search_key == undefined){
			notify("검색어를 입력해주세요");
		} else if ( $("#search_result a").hasClass("search_focus") ) {
			$("#search_result a.search_focus").click();
		} else {
			window.location = "/?keyword="+encodeURIComponent(search_key)+"&type=none";
		}
	}

	var select_num = -1;
	function navigate_by_key(is_down) {
		var search_result_length = $("#search_result a").length;
		var focus_height = $(".search_focus").outerHeight();
		var vp_height = $("#search_result").innerHeight();
		if (is_down) {
			if (select_num == search_result_length - 1) {
				select_num = 0;
				$("#search_result").scrollTop(0);
			} else {
				select_num += 1;
			}
			$("#search_result a").removeClass("search_focus");
			$("#search_result a").eq(select_num).addClass("search_focus");
			var focus_bottom = focus_height * (select_num + 1);
			var vp_top = $("#search_result").scrollTop();
			if (focus_bottom > vp_top + vp_height) {
				$("#search_result").scrollTop(focus_bottom-vp_height);
			}
		} else {
			if (select_num == 0) {
				select_num = search_result_length - 1;
				$("#search_result").scrollTop(focus_height * search_result_length);
			} else {
				select_num -= 1;
			}
			$("#search_result a").removeClass("search_focus");
			$("#search_result a").eq(select_num).addClass("search_focus");
			var focus_top = focus_height * select_num;
			var vp_top = $("#search_result").scrollTop();
			if (focus_top < vp_top) {
				$("#search_result").scrollTop(focus_top);
			}
		}
		var focus_text = $(".search_focus").text().replace(/(^\s*)|(\s*$)/g, "");
		$("#search_input").val(focus_text);
	}

	function navigate_by_mouse() {
		$("#search_result a").mouseover(function(){
			$("#search_result a").removeClass("search_focus");
			$(this).addClass("search_focus");
			select_num = $("#search_result a.search_focus").index();
			var focus_text = $(".search_focus").text().replace(/(^\s*)|(\s*$)/g, "");
			$("#search_input").val(focus_text);
		})
	}

	$('#search_input').keydown(function(e){
		if (e.keyCode == '13') {
			e.preventDefault();
			search_by_key();
		} else if (e.keyCode == '27') {
			e.preventDefault();
			keyword_reset();
		} else if (e.keyCode == '40') {
			e.preventDefault();
			navigate_by_key(true);
		} else if (e.keyCode == '38') {
			e.preventDefault();
			navigate_by_key(false);
		}
	}).keyup(function(e) {
		$("#keyword_reset_btn").show();
		if ( $("#search_input").val() == "" ) $("#keyword_reset_btn").hide();
		$.ajax({
	        url: "/search/get_keyword.json",
	        type: 'GET',
	        data: {'keyword': $('#search_input').val() },
	        dataType: 'json',
	        error: function(){
	            return false;
	        },
	        success: function(data){
						$('#search_result').html("").css("border-bottom-width","0px");
						select_num = -1;

						if (data.is_empty_result){
							if ($('#search_input').val() != ""){
								var empty_span = "<span style='display:block; border-bottom:1px solid #f4f4f4; margin:0; padding:16px 0; text-align:center; color:#666; font-size:13px;'>일치하는 검색 결과가 없습니다</span>";
								$('#search_result').html(empty_span);
								$("#search_result").css("border-bottom-width","5px");
							}
						} else {
							var searchResultTemplate = _.template( $('#search-result-template').html() );

							$.each(data.hash_tags, function( index, hash_tag ) {
								$('#search_result').append(searchResultTemplate({keyword: hash_tag.keyword, type: 'hash_tag', id: null}));
							});

							if (data.ask_deal){
								$('#search_result').append(searchResultTemplate({keyword: $('#search_input').val(), type: 'ask_deal', id: null}));
							}

							if (data.brand){
								$('#search_result').append(searchResultTemplate({keyword: $('#search_input').val(), type: 'brand', id: null}));
							}

							$.each(data.users, function( index, user ) {
								$('#search_result').append(searchResultTemplate({keyword: user.string_id, type: 'user', id: null}));
							});

							$("#search_result").css("border-bottom-width","5px").highlight($('#search_input').val());
							navigate_by_mouse();
						}
	        },
	        beforeSend: function(){
						var keys = [13, 27, 40, 39, 38, 37]
						if ($.inArray(e.keyCode, keys) != -1) {
							return false;
						}
	        },
	        complete: function(){
	        }
		});

	});
</script>
