<div id="access_term" style="width:inherit; background-color:#f4f4f4; text-align:left;">
  <div style="position:fixed; width:inherit; height:40px; padding-top:10px; background-color:#998674; color:#f4f4f4; z-index:1; border-bottom:5px solid #ffcc5a;">
		<div style="padding:7px 15px;">
			<h1 style="display:inline-block; margin:0; padding-top:1px; font-size:22px;">이용약관</h1>
      <span>/terms of service</span>
      <a href="#" onclick="window_back_button(); return false;"><span style="float:right; font-size:28px; color:#f4f4f4;">&times;</span></a>
		</div>
	</div>
	<div style="padding-top:50px; background-color:#f4f4f4; color:#383838; font-size:14px;">
		<div style="padding:0px 12px 20px;">
			<h3 class="title">제1조 목적</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					VASKIT(이하 ‘회사’)가 제공하는 서비스를 이용해 주셔서 감사합니다. 본 약관은 여러분이 서비스를 이용하는 데 필요한 권리, 의무 및 책임사항, 이용조건 및 절차 등 기본적인 사항을 규정하고 있으므로 조금만 시간을 내서 주의 깊게 읽어주시기 바랍니다.<br>
				</p>
				<div class="paragraph_sub_div">
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						‘VASKIT 서비스’라 함은 회사가 제공하는 “VASKIT” 브랜드를 사용하는 서비스를 말합니다.
					</p>
				</div>
			</div>
			<h3 class="title">
				제2조 약관의 명시, 효력 및 변경
			</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					1. 본 약관의 내용은 회사가 제공하는 개별 서비스 또는 서비스 초기 화면에 게시하거나 기타의 방법으로 공지하고, 본 약관에 동의한 여러분 모두에게 그 효력이 발생합니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					2. 회사는 필요한 경우 관련법령을 위배하지 않는 범위 내에서 본 약관을 변경할 수 있습니다. 본 약관이 변경되는 경우 회사는 변경 사항을 시행일자 15일 전부터 여러분에게 공지 또는 통지하는 것을 원칙으로 하며, 피치 못하게 여러분에게 불리한 내용으로 변경할 경우에는 그 시행일자 30일 전부터 가입하신 이메일 주소로 이메일을 발송하거나, 알림 메시지를 띄우는 등 합리적으로 가능한 방법으로 변경사항을 공지 또는 통지하겠습니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					3. 회사가 전 항에 따라 공지 또는 통지를 하면서 공지 또는 통지일로부터 개정약관 시행일 7일 후까지 거부의사를 표시하지 아니하면 승인한 것으로 본다는 뜻을 명확하게 고지하였음에도 여러분의 의사표시가 없는 경우에는 변경된 약관을 승인한 것으로 봅니다. 여러분이 개정약관에 동의하지 않을 경우 여러분은 제11조 제1항에 따라 이용계약을 해지할 수 있습니다.
				</p>
			</div>
			<h3 class="title">
				제3조 약관 외 준칙
			</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					본 약관에 규정되지 않은 사항에 대해서는 관련법령 또는 회사가 정한 서비스의 개별 이용약관, 운영정책 및 규칙 등(이하 ‘세부지침’)의 규정에 따릅니다. 또한 본 약관과 세부지침의 내용이 충돌할 경우 세부지침에 따릅니다.
				</p>
			</div>
			<h3 class="title">
				제4조 VASKIT계정 생성
			</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					VASKIT계정이란 서비스에서 본인을 식별하기 위해 미리 등록한 영문자, 숫자 등의 조합으로, 여러분이 본 약관에 동의하고 FACEBOOK 계정과 연동하거나 고유의 이메일주소를 입력하고, 비밀번호를 등록한 후 생년월일과 성별 정보를 기입하면 생성됩니다. 물론 여러분이 원한다면 VASKIT 닉네임은 별도로 설정할 수 있습니다.
				</p>
			</div>
			<h3 class="title">
				제5조 VASKIT계정 생성 거절 및 유보
			</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					1. 회사는 아래와 같은 경우에는 여러분의 VASKIT계정의 생성을 승낙하지 않을 수 있습니다.
				</p>
				<div class="paragraph_sub_div">
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						회사가 여러분의 VASKIT계정을 삭제하였던 경우
					</p>
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						여러분이 다른 사람의 명의나 이메일 주소 등 개인정보를 이용하여 VASKIT계정을 생성하려 한 경우<br>
					</p>
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						VASKIT계정 생성 시 필요한 정보를 입력하지 않거나 허위의 정보를 입력한 경우<br>
					</p>
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						기타 관련법령에 위배되거나 세부지침 등 회사가 정한 기준에 반하는 경우
					</p>
				</div>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					2. 만약, 여러분이 위 조건에 위반하여 VASKIT계정을 생성한 것으로 판명된 때에는 회사는 즉시 여러분의 서비스 이용을 중단하거나 VASKIT계정을 삭제하는 등 적절한 제한을 할 수 있습니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					3. 회사는 아래와 같은 경우에는 여러분의 VASKIT계정 생성을 유보할 수 있습니다.<br>
				</p>
				<div class="paragraph_sub_div">
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						제공 서비스 설비용량에 현실적인 여유가 없는 경우<br>
					</p>
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						서비스 제공을 위한 기술적인 부분에 문제가 있다고 판단되는 경우<br>
					</p>
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						기타 회사가 재정적, 기술적으로 필요하다고 인정하는 경우
					</p>
				</div>
			</div>
			<h3 class="title">
				제6조 VASKIT계정의 관리
			</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					1. VASKIT계정은 여러분 본인만 이용할 수 있으며, 다른 사람이 여러분의 VASKIT계정을 이용하도록 허락할 수 없습니다. 그리고 여러분은 다른 사람이 여러분의 VASKIT계정을 무단으로 사용할 수 없도록 직접 비밀번호를 관리하여야 합니다. 만약 무단 사용이 발견된다면, 고객센터를 통하여 회사에게 알려주시기 바라며, 회사는 무단 사용을 막기 위한 방법을 여러분에게 안내하도록 하겠습니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					2. 여러분은 서비스 내 설정 화면을 통하여 여러분의 정보를 열람하고 수정할 수 있습니다. 다만, 서비스의 제공 및 관리를 위해 필요한 VASKIT계정, 성별, 연령 등 일부 정보는 수정이 불가능할 수 있습니다. 여러분이 서비스 이용 신청 시 알려주신 내용에 변동이 있을 때, 직접 서비스에서 수정하거나 이메일, 고객센터를 통하여 회사에 알려 주시기 바랍니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					3. 여러분이 서비스 내 정보를 수정하지 않아 발생하는 손해에 대하여 회사는 책임을 부담하지 아니합니다.
				</p>
			</div>
			<h3 class="title">
				제7조 다양한 서비스 제공 및 변경 등
			</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					1. 회사는 여러분이 컨텐츠를 작성하여 게시하고, 타 컨텐츠에 투표하고, 의견을 나누며, 외부로 공유할 수 있는 웹서비스를 제공합니다. 여러분은 웹페이지에 접속하여 서비스를 이용할 수 있습니다. 서비스의 자세한 이용방법은 FAQ에서 안내하고 있으니 언제든지 확인하여 주시기 바랍니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					2. 회사는 더 나은 서비스의 제공을 위하여 여러분에게 서비스의 이용과 관련된 각종 고지, 관리 메시지 및 기타 광고를 비롯한 다양한 정보를 서비스에 표시하거나 여러분의 메일 계정으로 직접 발송할 수 있습니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					3. 서비스 이용 중 시스템 오류 등 문제점을 발견하신다면 언제든지 VASKIT 고객 센터로 알려주시기 바랍니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					4. 여러분이 서비스를 이용하는 과정에서 Wi-Fi 무선인터넷을 사용하지 않고, 가입하신 이동통신사의 무선인터넷에 연결하여 이용하는 경우 이동통신사로부터 여러분에게 별도의 데이터 통신요금이 부과되는 점을 유의하여 주시기 바랍니다. 서비스 이용 과정에서 발생하는 데이터 통신요금은 여러분이 여러분의 비용과 책임 하에 이동통신사에 납부하셔야 합니다. 데이터 통신요금에 대한 자세한 안내는 여러분이 가입하신 이동통신사에 문의하시기 바랍니다.
				</p>
			</div>
			<h3 class="title">
				제8조 서비스 이용 방법 및 주의점
			</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					1. 여러분은 서비스를 자유롭게 이용할 수 있으나, 아래와 같이 서비스를 잘못된 방법으로 이용할 수 없다는 점을 잊지 말아주셨으면 합니다.<br>
				</p>
				<div class="paragraph_sub_div">
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						여러분은 잘못된 방법으로 서비스의 제공을 방해하거나 회사가 안내하는 방법 이외의 다른 방법을 사용하여 서비스에 접근할 수 없습니다.<br>
					</p>
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						다른 서비스 이용자의 정보를 무단으로 수집, 이용하거나 다른 사람들에게 제공하는 행위도, 서비스를 영리 목적으로 이용하는 것도, 음란 정보나 저작권 침해 정보 등 공서양속 및 법령에 위반되는 내용의 정보 등을 발송하거나 게시하는 행위도 금지됩니다.<br>
					</p>
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						회사의 동의 없이 서비스 또는 이에 포함된 소프트웨어의 일부를 복사, 수정, 배포, 판매, 양도, 대여, 담보제공하거나 타인에게 그 이용을 허락하는 행위와 소프트웨어를 역설계하거나 소스 코드의 추출을 시도하는 등 서비스를 복제, 분해 또는 모방하거나 기타 변형하는 행위도 금지됩니다.
					</p>
				</div>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					2. 여러분은 서비스의 이용권한, 기타 이용 계약상 지위를 타인에게 양도•증여할 수 없으며, 담보로 제공할 수 없습니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					3. 혹시라도 여러분이 관련 법령, 회사의 모든 약관 또는 정책을 준수하지 않는다면, 회사는 여러분의 위반행위 등을 조사하거나 여러분의 서비스 이용을 잠시 또는 계속하여 중단하거나, 재가입에 제한을 둘 수도 있습니다.
				</p>
			</div>
			<h3 class="title">
				제9조 권리의 귀속 및 저작물의 이용
			</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					1. 여러분은 사진, 글, 정보, (동)영상, VASKIT 서비스 또는 회사에 대한 의견이나 제안 등 콘텐츠(이하 ‘게시물’)를 서비스에 게시할 수 있으며, 이러한 게시물에 대한 저작권을 포함한 지적재산권은 당연히 권리자가 계속하여 보유합니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					2. 여러분이 VASKIT 서비스에 게시물을 게시하는 경우, 해당 게시물은 필요한 범위 내에서 사용, 저장, 수정, 복제, 공중송신, 전시, 배포 등의 방식으로 이용할 수 있도록 사용을 허락하는 전 세계적이고 영구적인 라이선스를 회사에게 제공하게 됩니다. 본 라이선스는 여러분이 서비스의 사용을 중단하거나 VASKIT계정 을 탈퇴한 후에도 존속하게 됩니다. 다시 한 번 알려드리지만, 본 라이선스에서 여러분이 회사에게 부여하는 권리는 서비스를 운영, 개선, 홍보하고 새로운 서비스를 개발하기 위한 범위 내에서 사용됩니다. 일부 서비스에서는 여러분이 제공한 콘텐츠에 접근하거나 이를 삭제하는 방법을 제공할 수 있습니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					3. 여러분은 회사에 제공한 콘텐츠에 대해 회사에 라이선스를 부여하기 위해 필요한 권리를 보유해야 합니다. 이러한 권리를 보유하지 않아 발생하는 모든 문제에 대해서는 게시자가 책임을 부담하게 됩니다. 또한, 여러분은 음란하거나 폭력적이거나 기타 공서양속 및 법령에 위반하는 콘텐츠를 공개 또는 게시할 수 없습니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					4. 회사는 여러분의 콘텐츠가 법령 및 서비스 정책에 위반된다고 판단할 경우, 이를 삭제하거나 게시를 거부할 수 있습니다. 다만 회사가 모든 콘텐츠를 검토할 의무가 있는 것은 아닙니다. 누군가 여러분의 권리를 침해하였다면, 고객센터를 통해 게시중단요청에 대한 도움을 받으실 수 있습니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					5. 서비스에서는 회사가 보유하지 않은 일부 콘텐츠가 표시될 수 있습니다. 그러한 콘텐츠에 대해서는 콘텐츠를 제공한 주체가 단독으로 모든 책임을 부담하게 됩니다. 여러분이 서비스를 이용하더라도 다른 이용자의 콘텐츠에 대하여 어떠한 권리를 가지게 되는 것은 아닙니다. 여러분이 다른 이용자의 콘텐츠를 사용하기 위하여는 콘텐츠 소유자로부터 별도로 허락을 받아야 합니다.
				</p>
			</div>
			<h3 class="title">
				제10조 서비스의 이용, 변경 및 종료
			</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					1. 회사는 서비스를 365일, 24시간 쉬지 않고 제공하기 위하여 최선의 노력을 다합니다. 다만, 장비의 유지∙보수를 위한 정기 또는 임시 점검 또는 다른 상당한 이유로 서비스의 제공이 일시 중단될 수 있으며, 이때에는 미리 서비스 제공화면에 공지하겠습니다. 만약, 회사로서도 예측할 수 없는 이유로 서비스가 중단된 때에는 회사가 상황을 파악하는 즉시 최대한 빠른 시일 내에 서비스를 복구하도록 노력하겠습니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					2. 신규서비스 개시 등의 사유로 서비스의 내용이 변경될 수도 있습니다. 서비스 변경 사항 또는 종료는 서비스 초기화면이나 개별 서비스의 화면 또는 공지사항 란에 게시하여 여러분들께 알려드리겠습니다. 여러분께 중대한 영향을 미치는 서비스 변경 사항이나 종료는 VASKIT계정으로 사용하는 이메일 주소로 이메일을 발송하는 방법 등으로 개별적으로 알려드리겠습니다.
				</p>
			</div>
			<h3 class="title">
				제11조 이용계약 해지
			</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					1. 여러분이 서비스의 이용을 더 이상 원치 않는 때에는 언제든지 서비스 내 제공되는 메뉴를 이용하여 서비스 이용계약의 해지 신청을 할 수 있으며, 회사는 법령이 정하는 바에 따라 신속히 처리하겠습니다
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					2. 이용계약이 해지되면 법령 및 개인정보 취급방침에 따라 여러분의 정보를 보유하는 경우를 제외하고는 여러분의 정보나 여러분이 작성한 게시물 등 모든 데이터는 삭제됩니다. 다만, 여러분이 작성한 게시물이 제3자에 의하여 스크랩 또는 다른 공유 기능으로 게시되거나, 여러분이 제3자의 게시물에 댓글 등 게시물을 추가하는 등의 경우에는 다른 이용자의 정상적 서비스 이용을 위하여 필요한 범위 내에서 서비스 내에 삭제되지 않고 남아 있게 됩니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					3. 이용계약이 해지된 경우라도 여러분은 다시 회사에 대하여 이용계약의 체결을 신청할 수 있습니다. 다만, 일부 서비스의 경우 다시 이용계약을 체결함에 있어 시간적 제한 등이 따를 수 있으며 이에 대한 구체적인 내용은 세부지침에서 확인하실 수 있습니다.
				</p>
			</div>
			<h3 class="title">
				제12조 개인정보의 보호
			</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					여러분의 개인정보의 안전한 취급은 회사에게 있어 가장 중요한 일 중 하나입니다. 여러분의 개인정보는 서비스의 원활한 제공을 위하여 여러분이 동의한 목적과 범위 내에서만 이용됩니다. 법령에 의하거나 여러분이 별도로 동의하지 아니하는 한 회사가 여러분의 개인정보를 제3자에게 제공하는 일은 결코 없으므로, 안심하셔도 좋습니다. 회사가 여러분의 개인정보를 안전하게 취급하기 위하여 기울이는 노력이나 기타 자세한 사항은 VASKIT 개인정보취급방침을 참고하여 주십시오.
				</p>
			</div>
			<h3 class="title">
				제13조 손해배상 등
			</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					1. 회사는 법령상 허용되는 한도 내에서 서비스와 관련하여 본 약관에 명시되지 않은 어떠한 구체적인 사항에 대한 약정이나 보증을 하지 않습니다. 또한, 회사는 CP(Contents Provider)가 제공하거나 회원이 작성하는 등의 방법으로 서비스에 게재된 정보, 자료, 사실의 신뢰도, 정확성 등에 대해서는 보증을 하지 않으며 이로 인해 발생한 여러분의 손해에 대하여는 책임을 부담하지 아니합니다.
				</p>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					2. 회사는 회사의 과실로 인하여 여러분이 손해를 입게 될 경우 본 약관 및 법령에 따라 여러분의 손해를 배상하겠습니다. 다만 회사는 아래와 같은 손해에 대해서는 책임을 부담하지 않습니다. 또한 회사는 법률상 허용되는 한도 내에서 간접 손해, 특별 손해, 결과적 손해, 징계적 손해, 및 징벌적 손해에 대한 책임을 부담하지 않습니다.
				</p>
				<div class="paragraph_sub_div">
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						천재지변 또는 이에 준하는 불가항력의 상태에서 발생한 손해
					</p>
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						여러분의 귀책사유로 서비스 이용에 장애가 발생한 경우
					</p>
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						서비스에 접속 또는 이용과정에서 발생하는 개인적인 손해
					</p>
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						제3자가 불법적으로 회사의 서버에 접속하거나 서버를 이용함으로써 발생하는 손해
					</p>
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						제3자가 회사 서버에 대한 전송 또는 회사 서버로부터의 전송을 방해함으로써 발생하는 손해
					</p>
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						제3자가 악성 프로그램을 전송 또는 유포함으로써 발생하는 손해
					</p>
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						전송된 데이터의 생략, 누락, 파괴 등으로 발생한 손해, 명예훼손 등 제3자가 서비스를 이용하는 과정에서 발생된 손해
					</p>
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						기타 회사의 고의 또는 과실이 없는 사유로 인해 발생한 손해
					</p>
				</div>
			</div>
			<h3 class="title">
				제16조 청소년보호
			</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					모든 연령대가 자유롭게 이용할 수 있는 공간으로써 유해 정보로부터 청소년을 보호하고 청소년의 안전한 인터넷 사용을 돕기 위해 정보통신망법에서 정한 청소년보호정책을 별도로 시행하고 있습니다.
				</p>
			</div>
			<h3 class="title">
				제17조 통지 및 공지
			</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					회사는 여러분과의 의견 교환을 소중하게 생각합니다. 여러분은 언제든지 고객센터에 방문하여 의견을 개진할 수 있습니다. 회사는 VASKIT계정으로 사용하는 이메일 주소로 이메일을 발송하는 방법 등으로 여러분에게 공지 또는 통지하며, 서비스 이용자 전체에 대한 공지는 칠(7)일 이상 서비스 초기화면 또는 공지사항 란에 게시함으로써 효력이 발생합니다.
				</p>
			</div>
			<h3 class="title">
				제18조 분쟁의 해결
			</h3>
			<div class="description">
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					본 약관 또는 서비스는 대한민국법령에 의하여 규정되고 이행됩니다. 서비스 이용과 관련하여 회사와 여러분 간에 분쟁이 발생하면 이의 해결을 위해 성실히 협의할 것입니다. 그럼에도 불구하고 해결되지 않으면 민사소송법의 관할법원에 소를 제기할 수 있습니다.
				</p>
				<div class="paragraph_sub_div">
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						공고일자 : 2016년 5월 1일
					</p>
					<i class="fa fa-tags"></i>
					<p class="paragraph_sub">
						시행일자 : 2016년 5월 1일
					</p>
				</div>
				<i class="fa fa-paragraph"></i>
				<p class="paragraph">
					서비스 관련 문의사항이 있으시면 언제든지 회사에 방문 또는 연락해 주시기 바랍니다.
				</p>
			</div>
		</div>
  </div>
	<div style="text-align: center; padding: 20px; color: #fff; font-size: 14px; background: #4b3d3d;">
	  <p>항상 노력하고 발전하는 VASKIT이 되겠습니다</p>
		<img src="/images/logo/logo_1.png" style="width: 200px; margin:auto;">
		<p>감사합니다 :)</p>
	</div>
</div>

<style type="text/css">
  h3.title {
    margin: 20px 0 0 0;
    padding: 10px;
    color: #4b3d3d;
    background-color: #ffcc5a;
    border: 1px solid #dbdbdb;
    border-top: none;
    border-bottom: none;
    border-right-width: 2px;
  }
  div.description {
    margin: 0;
    padding: 10px 10px 0;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-top: none;
    border-right-width: 2px;
    border-bottom-width: 2px;
  }
  p.paragraph {
    margin: 0 0 10px;
    padding-left: 15px;
  }
  i.fa-paragraph {
    float: left;
    padding-top: 3px;
    color: #ee6e01;
  }
  div.paragraph_sub_div {
    margin-top:-5px;
    margin-bottom:10px;
  }
  p.paragraph_sub {
    margin: 0 0 5px;
    padding-left: 35px;
  }
  p.paragraph_sub_title {
    margin: 0 0 5px;
    padding-left: 15px;
    font-weight: bold;
  }
  i.fa-tags {
    float: left;
    padding-top: 3px;
    padding-left: 15px;
    color: #4b3d3d;
  }
</style>
