<div id="faq_help" style="width:inherit; background-color:#f4f4f4; text-align:left;">
  <div style="position:fixed; width:inherit; height:40px; padding-top:10px; background-color:#998674; color:#f4f4f4; z-index:1; border-bottom:5px solid #ffcc5a;">
		<div style="padding:7px 15px;">
			<h1 style="display:inline-block; margin:0; padding-top:1px; font-size:22px;">FAQ &amp; Help</h1>
      <a href="#" onclick="window_back_button(); return false;"><span style="float:right; font-size:28px; color:#f4f4f4;">&times;</span></a>
		</div>
	</div>
  <div style="padding-top:50px; background-color:#f4f4f4; color:#383838; font-size:13px;">
    <p class="chat_bubble">
      VASKIT을 이용하시면서 궁금하신 점이 있으셨나요? 자주 묻는 질문을 간추려보았습니다.
      <br><br>만약 답변이 불충분하시다면 <a href="mailto:help@vaskit.kr" style="color:#ee6e01; text-decoration:underline;">help@vaskit.kr</a>로 언제든지 메일 보내주세요! (여러분의 관심에 목마른 Team VASKIT은 모니터 앞에서 24시간 대기중입니다)
    </p>
    <div class="col_100">
      <div class="row">
        <div class="faq_title"><i class="fa fa-question-circle"></i> VOTE<span> /투표하기</span></div>
        <div class="question">투표하는 법을 알려주세요.</div>
        <div class="answer">
          각 카드의 이미지 아래에 있는 <span class="highlight">‘투표하기’ 버튼</span>을 누르시면 투표가 됩니다.
        </div>
        <div class="question">실수로 투표를 잘 못 했어요. 투표를 취소할 수는 없나요?</div>
        <div class="answer">
          각 카드의 <span class="highlight">우측 상단에 있는 더보기 버튼</span>을 누르면 <span class="highlight">'투표 실행취소'</span> 메뉴가 (숨어)있답니다.
          <br>투표 실행취소 뒤에 다시 투표하시는 것, 잊지 마세요!
        </div>
        <div class="question">투표를 하지 않고 득표율을 확인할 수는 없나요? 왜 그렇죠?</div>
        <div class="answer">
          투표결과는 <span class="highlight">투표에 참여하신 후에만</span> 보실 수 있습니다.
          <br>(투표결과를 미리 알면 재미 없잖아요? 저만 그런가요 T_T)
        </div>
        <div class="question">왜 비회원으로는 투표를 더 진행할 수 없나요?</div>
        <div class="answer">
          VASKIT은 <span class="highlight">응답자의 성별/연령 등의 정보</span>를 분석하여 투표결과의 세부 결과를 제공해 드리고 있습니다.
          <br>이를 위해서는 <span class="highlight">응답자의 프로필</span>이 필요하기 때문에 비회원 고객님의 경우 맛보기 투표 횟수가 <span class="highlight">5회</span>로 제한되어 있고, 더 많은 참여를 위해서는 회원가입이 필요하게 됩니다.
        </div>
        <div class="question">투표와 관련된 의견이 좌우로 나뉘어 달리는데 이것은 어떤 의미인가요? 저도 방향을 선택해서 의견을 남길 수 있나요?</div>
        <div class="answer">
          기본적으로 <span class="highlight">자신이 투표한 카드</span>에 의견을 남길 수 있도록 정렬 버튼이 설정됩니다.
          <br>만약 반대 카드에 의견을 남기시려면 <span class="highlight">의견 입력란의 정렬 버튼( <i class="fa fa-align-left"></i> )</span>을 클릭하시면 된답니다.
        </div>
        <div class="question"><i class="fa fa-navicon"></i> 좌측 상단 메뉴 화면은 무엇인가요? 관심사 설정은 어떻게 하는 거죠?</div>
        <div class="answer">
          메뉴 버튼을 통해 <span class="highlight">흥미 있는 관심사</span>를 설정하시면, 이와 관련된 컨텐츠만 받아보실 수 있답니다. 흥미있는 관심사를 선택하신 후, <span class="highlight">‘적용하기’버튼</span>을 눌러 주세요.
        </div>
      </div>
    </div>
    <div class="col_100">
      <div class="row">
        <div class="faq_title"><i class="fa fa-question-circle"></i> ASK<span> /질문하기</span></div>
        <div class="question">질문 작성은 어떻게 할 수 있나요?</div>
        <div class="answer">
          화면 우측하단의 <span class="highlight">주황색 <i class="fa fa-plus-circle"></i> 버튼</span>을 클릭하시면 질문 작성이 가능합니다.
        </div>
        <div class="question">상품 정보를 좀 더 쉽게 입력하는 방법은 없나요? 너무 복잡해요!</div>
        <div class="answer">
          아이고 죄송합니다 T_T
          <br>아무래도 상품 정보가 정확해야 더 좋은 투표결과를 받아보실 수 있을 것 같아서 입력하실 내용이 조금 많아져 버렸네요. VASKIT Team이 가장 개선하려고 노력중인 부분이랍니다.
          <br>
          <br>그래서 상품 정보를 조금이라도 편하게 입력하실 수 있도록 <span class="highlight">‘CARD A/B 검색하기’ 버튼</span>을 마련해두었습니다. 이 버튼을 눌러, 원하시는 제품의 정보를 검색해보세요!
          <br>
          <br><span class="highlight">쇼핑 검색결과</span>에서 특정 상품을 선택하시면 제품명, 브랜드, 가격, 링크 등이 자동으로 완성됩니다. 짜-잔!
          <br>만약 상품 이미지만 필요하실 경우에는 <span class="highlight">이미지 검색결과</span>에서 원하는 이미지가 있는지 찾아보세요.
        </div>
        <div class="question">상품 검색을 했는데 제가 원하는 상품이 없어요!</div>
        <div class="answer">
          VASKIT은 현재 네이버쇼핑 검색 결과를 인용하고 있어서, 네이버에도 안 잡히는 상품 정보는 (조금 불편하시더라도) <span class="highlight">직접 입력</span>해주셔야 한답니다 T_T
          <br>(엄청나게 유니크한 아이템을 구매하시려는건가요?! 저도 유니크템 매니아&star;)
          <br><br>상품 입력과 관련하여 좋은 의견이 있으시면 <a href="mailto:help@vaskit.kr" style="color:#ee6e01; text-decoration:underline;">help@vaskit.kr</a>로 연락주세요!
        </div>
        <div class="question">질문을 작성하려는데 관심사 선택은 왜 필요한가요? 그리고 제가 찾는 관심사가 없을 때는 어떡하죠?</div>
        <div class="answer">
          관심사를 설정하시면 <span class="highlight">해당 관심사와 연관된 사용자들</span>에게 질문이 보여지기 때문에 더 많은 투표와 의견을 받아볼 수 있습니다.
          <br>
          <br>만약 더 추가되길 원하시는 관심사가 있으시면 <a href="mailto:help@vaskit.kr" style="color:#ee6e01; text-decoration:underline;">help@vaskit.kr</a>로 의견을 보내주세요!
        </div>
        <div class="question">상황태그 입력에는 어떤 걸 입력해야 하나요? #해시태그를 입력한 사람들도 있던데 이건 왜 입력해야 하나요?</div>
        <div class="answer">
          아무래도 고민하는 상황이 어떤건지, 왜 고민을 하고 있는지, 어떤 포인트에 주안점을 두고 두 제품을 비교하는지 등 <span class="highlight">고민 상황을 상세하게 설명</span>해주시면 더 적절한 답변을 받을 수 있겠죠?
          <br>
          <br>그리고 <span class="highlight">#해시태그</span>를 통해 나와 비슷한 상황, 비슷한 제품을 고민하고 계신 분들로부터 더욱 많은 답변을 받아볼 수 있게 됩니다.
        </div>
        <div class="question">질문을 작성한 후 수정은 어떻게 할 수 있나요?</div>
        <div class="answer">
          본인이 작성한 질문의 더보기 메뉴에 (숨어있는) <span class="highlight">‘질문 수정하기’</span>를 통해 자유롭게 수정하실 수 있습니다.</div>
        <div class="question">질문을 삭제할 수는 없나요?</div>
        <div class="answer">
          더보기 메뉴의 <span class="highlight">'질문 종료하기'</span>를 통해 질문을 종료할 수 있습니다. 더 이상 다른 사람들이 투표를 할 수 없고, 더 이상 관련된 알림 메시지도 전달되지 않게 된답니다.</div>
      </div>
    </div>
    <div class="col_100">
      <div class="row">
        <div class="faq_title"><i class="fa fa-question-circle"></i> Serch &amp; Share<span> /탐색하기</span></div>
        <div class="question">저와 비슷한 구매 고민을 하고 있거나, 비슷한 상황을 겪고 있는 분의 질문, 또는 제가 찾아보고 싶은 제품만 골라 볼 수 있나요?</div>
        <div class="answer">
          기본화면 상단에 있는 <span class="highlight">검색창</span>을 이용해보세요. 해시태그, 제품명, 브랜드 등을 기준으로 정보를 찾아보실 수 있습니다.
        </div>
        <div class="question">투표는 VAKSIT에서만 가능한가요? 질문을 외부로 공유할 수는 없나요?</div>
        <div class="answer">
          본인의 질문뿐 아니라 공감되는 질문의 <span class="highlight">'공유하기' 버튼</span>을 눌러 <span class="highlight">카카오톡</span>이나 <span class="highlight">페이스북</span>으로 공유할 수 있습니다.
          <br>또는 제공되는 링크 주소(URL)를 복사 &amp; 붙여넣기 하여 어디든지 공유가 가능하니까 참고해주세요!
        </div>
        <div class="question">저의 고민에 대해 정확한 답변을 해줄 수 있는 사용자들에게만 투표를 받고 싶어요.</div>
        <div class="answer">
          현재 버전의 VASKIT에서는 그런 기능이 없습니다 흑흑 아직 걸음마 수준이에요 T_T
          <br>하지만 점차 사용자가 증가하면 다양한 형태로 투표를 진행할 수 있도록 개선해나갈 예정이랍니다! 그러기 위해서는 주변분들에게 VASKIT을 널리 알려주세요!
        </div>
      </div>
    </div>
    <div class="col_100">
      <div class="row">
        <div class="faq_title"><i class="fa fa-question-circle"></i> My Page</div>
        <div class="question">제가 올렸던 질문들만 찾아보고 싶어요.</div>
        <div class="answer">
          <span class="highlight">마이페이지</span>에서 현재 진행중인 질문, 관심있는 질문이나 참여하신 투표들의 히스토리를 조회해보실 수 있답니다.
        </div>
        <div class="question">닉네임을 변경하고 싶어요.</div>
        <div class="answer">
          <span class="highlight">마이페이지</span>에서 <span class="highlight"><i class="fa fa-gear"></i> 아이콘</span>을 눌러 계정설정화면으로 이동하시면 닉네임 변경이 가능합니다.
          <br>닉네임은 영문소문자와 숫자의 혼합으로만 가능합니다.
        </div>
        <div class="question">비밀번호를 변경하고 싶어요.</div>
        <div class="answer">
          <span class="highlight">마이페이지</span>에서 <span class="highlight"><i class="fa fa-gear"></i> 아이콘</span>을 눌러 계정설정화면으로 이동하시면 비밀번호 변경이 가능합니다.
        </div>
        <div class="question">아이디, 비밀번호를 잊어버렸어요. 어떡해야 하죠?</div>
        <div class="answer">
          <a href="mailto:help@vaskit.kr" style="color:#ee6e01; text-decoration:underline;">help@vaskit.kr</a>로 메일 보내주시면 조치해 드릴게요!
        </div>
      </div>
    </div>
    <div style="text-align: center; padding: 20px; color: #fff; font-size: 14px; background: #4b3d3d;">
      <p>항상 노력하고 발전하는 VASKIT이 되겠습니다</p>
      <img src="/images/logo/logo_1.png" style="width: 200px; margin:auto;">
      <p>감사합니다 :)</p>
    </div>
  </div>
</div>

<style>
  #faq_help div.col_100 { margin:12px; }
  #faq_help div.col_100 div.row:last-child { margin-bottom:20px; border-bottom:3px solid #dbdbdb; }

  #faq_help div.faq_title {
    background:#ffcc5a;
    margin:0; padding:9px 10px; box-sizing:border-box;
    border-right:3px solid #dbdbdb;
    color:#ee6e01; font-size:14px; font-weight:bold;
  }
  #faq_help div.faq_title i {
    font-weight:normal;
  }
  #faq_help div.faq_title span {
    color:#666; font-size:12px; font-weight:normal;
  }
  #faq_help div.question {
    display:block; box-sizing:border-box;
    padding:15px; padding-right:50px;
    line-height:1.2;
    background:url("/images/custom/arrow_off.png") no-repeat 100% 50%;
    background-size: 30px;
    background-color:#fff;
    border-left:1px solid #dbdbdb;
    border-top:1px solid #dbdbdb;
    border-right:3px solid #dbdbdb;
    cursor:pointer;
    transition:all .1s;
  }
  #faq_help div.question.on {
    background:url("/images/custom/arrow_on.png") no-repeat 100% 50%;
    background-size: 30px;
    background-color:#ffe4a9;
    color:#ee6e01; font-weight:bold;
    border:1px solid #ee6e01;
    border-right-width: 3px;
    border-bottom:none;
    transition:all .1s;
  }
  #faq_help div.answer {
    display:none;
    box-sizing:border-box;
    padding:5px 20px 15px 20px;
    line-height:1.5;
    background:#ffe4a9;
    border:1px solid #ee6e01;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-top:none;
  }

  #faq_help span.highlight {
    color:#ee6e01;
  }
</style>
<script>
  $("#faq_help .question").on("click",function(){
    $("#faq_help .question").not(this).removeClass("on");
    $(this).toggleClass("on");

    $("#faq_help .question").next().slideUp(100);
    $(this).next(".answer:hidden").slideDown(100);
  })
</script>
