<div id="login_screen" style="position:absolute; top:0; width:inherit; height:100%; min-height:560px; background:url('/images/custom/landing.png') no-repeat center center; background-size:contain; background-color:#ffe4a9; ">
	<div id="login_logo" style="position:absolute; top:0; width:inherit; background-color:#4b3d3d; border-bottom:5px solid #998674; border-radius:0 0 10px 10px; display:none;">
		<img style="display:block; margin:70px auto 10px; width:90%; max-width:350px;" src="/images/logo/splash.png">
	</div>
	<div id="login_btn" style="position:absolute; bottom:0; width:inherit; background-color:#4b3d3d; border-top:5px solid #998674; border-radius:10px 10px 0 0; display:none;">
		<a class="login_btn" href="#" onclick="webLoginWithFB(); return false;" style="background:#4267b2; color:#fff; margin-top:40px;">
			<i class="fa fa-facebook-square" style="font-size:18px; margin-right:3px;"></i>&nbsp;페이스북 로그인
		</a>
		<a class="login_btn" href="#" onclick="go_url('/users/sign_up'); return false;" style="background:#ee6e01; color:#fff;">
			<i class="fa fa-users"></i>&nbsp;회원가입<small>&nbsp;/sign-up</small>
		</a>
		<a class="login_btn" href="#" onclick="go_url('/users/sign_in'); return false;" style="background:#fff; color:#666;">
			<i class="fa fa-sign-in"></i>&nbsp;로그인<small>&nbsp;/sign-in</small>
		</a>
		<p style="font-size:12px; color:#dbdbdb; margin:15px 0 30px 0;">
			<i class="fa fa-check-circle"></i>&nbsp;가입 시
			<a href="#" onclick="window.open('/etc/access_term', 'VASKIT 이용약관', 'width=500, height=800'); return false;" style="color:#dbdbdb; font-weight:bold; border-bottom:1px solid #dbdbdb;">이용약관</a> 및
			<a href="#" onclick="window.open('/etc/privacy_policy', 'VASKIT 개인정보취급정책', 'width=500, height=800'); return false;" style="color:#dbdbdb; font-weight:bold; border-bottom:1px solid #dbdbdb;">개인정보취급정책</a>에 동의하게 됩니다
		</p>
	</div>
</div>

<script>
	if ($(window).height() < 560 + 240) {
		$("#login_screen").css("background","#4b3d3d");
		$("#login_logo").css("border-bottom","none");
		$("#login_btn").css("border-top","none");
	};
	$(document).ready(function(){
		setTimeout(function(){
			$("#login_logo").show().animateCss("slideInDown");
			$("#login_btn").show().animateCss("slideInUp");
		}, 1000);
	});

	function webLoginWithFB(){
		progressStart();
		window.location = 'https://www.facebook.com/dialog/oauth?client_id=<%=Facebook::CONFIG["app_id"]%>&redirect_uri=<%=CONFIG["host"]%>/users/facebook&scope=email,public_profile,user_birthday';
	}
</script>
